name: Upload to S3

on:
  push:
    branches:
      - master

jobs:
  upload:
    runs-on: ubuntu-latest
    
    steps:
      - name: Download code
        uses: actions/checkout@v4

      - name: Create tar file
        run: |
          DATE=$(date +%Y%m%d_%H%M%S)
          FILENAME="app_${DATE}.tar.gz"
          
          tar -czf "$FILENAME" \
            --exclude="*.tar.gz" \
            --exclude=".git" \
            --exclude=".github" \
            .
          
          echo "FILENAME=$FILENAME" >> $GITHUB_ENV
          
          echo "Created: $FILENAME"
          ls -lh "$FILENAME"

      - name: Upload to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          aws s3 cp "$FILENAME" "s3://${{ secrets.S3_BUCKET }}/$FILENAME"
          echo " Uploaded to s3://${{ secrets.S3_BUCKET }}/$FILENAME"